#dinamarca {
  margin: 10px;
  width: 1200px;
  height: 650px;
  border: 1px solid darkgray;
  position: relative;
  background-color: red;
}

#dinamarca:before {
  content: '';
  right: 0;
  left: 0;
  top: 43.75%;
  bottom: 43.75%;
  height: 12.5%;
  position: absolute;
  background-color: white;
}

#dinamarca:after {
  content: '';
  top: 0;
  bottom: 0;
  left: 27% + 10px;
  right: 64%;
  width: 9%;
  position: absolute;
  background-color: white;
}
